.dark-green {
  color: #44B5A3;
}
.quotes-slider h2 {
  font-weight: 400;
}
.quotes-slider h2 span {
  font-weight: 600;
}
/* Swiper container */
.quotes-slider .swiper-container {
    width: 100%;
    height: auto;
    overflow-x: hidden;
  }
  
  /* Swiper slides */
  .quotes-slider .swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .quotes-slider .done-all-svg {
    fill: #00E2FF;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
  }
  /* Swiper pagination */
  .quotes-slider .swiper-pagination {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .quotes-slider .swiper-pagination-bullet {
    --swiper-pagination-color: #44B5A3;
    --swiper-pagination-bullet-inactive-color: #344268;
  }
  
  /* Swiper navigation buttons */
  .quotes-slider .swiper-button-next::after,
  .quotes-slider .swiper-button-prev::after {
    content: unset;
  }
  .quotes-slider .swiper-buttons svg {
    width: 24px;
    height: 24px;
  }
  .quotes-slider .swiper-button-next,
  .quotes-slider .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    color: #344268;
    border: 2px solid;
  }
  .quotes-slider .swiper-button-next:hover,
  .quotes-slider .swiper-button-prev:hover {
    color: #44B5A3;
  }
  
  .quotes-slider .swiper-button-next {
    right: 10px;
  }
  
  .quotes-slider .swiper-button-prev {
    left: 10px;
  }

.quotes-slider .swiper-navig{
  position: relative;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  transform: translateY(-60px);
  align-items: center;
  z-index: 10;
}
.quotes-slider .swiper-navig::before {
  content: "";
  width: 309px;
}
.quotes-slider .swiper-navig .swiper-navig-container {
  width: 421px;
  display: flex;
  justify-content: space-between;
}
.quotes-slider .swiper-navig .swiper-navig-container .swiper-pagination {
  left: unset;
  transform: unset;
  bottom: unset;
  display: flex;
  align-self: center;
}
.quotes-slider .swiper-navig .swiper-navig-container .swiper-buttons {
  display: flex;
  gap: 25px;
}
.quotes-slider .swiper-navig .swiper-navig-container .swiper-buttons > div {
  position: relative;
  top: unset;
  transform: unset;
  left: unset;
  right: unset;
  margin-top: 0;
}

  .quotes-slider .container {
    padding-inline: 7.1rem;
    padding-block: 120px;
    border-radius: 71px;
    max-width: 1680px;
    margin: 0 auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: var(--darkblue);
}
.quotes-slider button{
    width:fit-content;
    margin:0 auto;
    border-radius: 47px;
    padding:14px 28px;
    background-color: var(--darkblue);
}
.quotes-slider button a{
    color:var(--bgblue);
}
.quotes-slider  h2 {
  font-size: clamp(1.875rem, 1.5532rem + 1.373vw, 3.75rem);
  text-align: center;
  text-transform: uppercase;
}
.quotes-slider p {
    font-size: clamp(1rem, 0.9571rem + 0.1831vw, 1.25rem);
  }

@media screen and (max-width:575px) {
    .quotes-slider {
        padding: 45px 0;
    }
}
.quotes-slider__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.quotes-slider__item img {
  max-height: 123px;
  max-width: 123px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (prefers-color-scheme: dark) {
  .quotes-slider.dark-mode .container {
    color: #fff;
    background: var(--darkblue);
  }
  .quotes-slider.dark-mode .container .quotes-slider__number {
    color: var(--bgblue);
  }
  .quotes-slider.dark-mode .container button{
    background-color: #65B2A3;
  }
  .quotes-slider.dark-mode .container .queue p{
    color:#fff;
  }
  .quotes-slider .swiper-pagination-bullet {
    opacity: 1;
  }
}
.quote .slider-image {
    height: 443px;
    width: 309px;
    object-fit: contain;
  }
.queue {
  border-radius: 25px;
  background-color: #344268;
  padding: 48px 15px 24px 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 421px;
  color:#fff;
  position: relative;
}
.queue img{
  height: 60px;
  width: 69px;
  border-radius: 69px;
  object-fit: cover;
}
.queue p {
   font-size: 20px;
   width: 70%;
   text-align: left;
}
.swiper-slide.quote {
    gap: 40px;
  }
@media screen and (max-width: 996px) and (min-width: 576px) {
  .quotes-slider .swiper-navig {
    transform: translateY(-5px);
  }
}
@media screen and (max-width: 680px) {
  .quotes-slider {
    padding-left: 20px;
    padding-right: 20px;
  }
  .quotes-slider .container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 86px;
    padding-bottom: 0px;
  }
  .quotes-slider .container .queue p {
    width: 100%;
  }
  .quotes-slider .container {
    border-radius: 25px;
  }
}