.wish-list-link-header{
  margin-right: 25px;
  display: inline-block;
  &.mobile{
    display: none;
    @media only screen and (max-width: $lg) {
      display: block;
      position: absolute;
      right: 50px;
    }
    @media only screen and (max-width: $sm) {
      right: 45px;
    }
  }
}

.gifts__image {
  .favorites {
    transition: 0.3s;

    &.active {
      background: $c-primary;

      svg path {
        fill: #fff;
      }
    }

    &.waiting {
      opacity: 0.5;
    }
  }
}


.wish-list, .term-section {
  h2.border-title{
    margin-bottom: 45px;
  }

  .wrap-subtitle {
    text-align: center;
    margin-bottom: 70px;
    @media only screen and (max-width: $md) {
      margin-bottom: 30px;
    }
  }

  .subtitle {
    display: inline-block;
    border-bottom: 4px solid #F5F5F5;
    padding: 0 15px 20px 15px;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 0;
    @media only screen and (max-width: $md) {
      font-size: 16px;
    }
    max-width: 600px;
  }

  .no-wishlist {
    text-align: center;

    &.no-log {
      a {
        margin-top: 0;
      }
    }

    img {
      max-width: 225px;
      display: block;
      margin: 0 auto;
    }

    p {
      font-size: 30px;
      text-align: center;
      @media only screen and (max-width: $md) {
        font-size: 18px;
      }
    }

    a {
      display: inline-block;
      margin-top: 65px;
      @media only screen and (max-width: $md) {
        margin-top: 45px;
      }
    }
  }

  .row {
    margin: 0 -20px;
    @media only screen and (max-width: $xl) {
      margin: 0 -10px;
    }

    .col {
      width: calc(100% / 3);
      padding: 0 20px 40px 20px;
      margin: 0;
      @media only screen and (max-width: $xl) {
        padding: 0 10px 20px 10px;
      }
      @media only screen and (max-width: $lg) {
        width: 50%;
      }
      @media only screen and (max-width: 375px) {
        width: 100%;
      }
    }
  }
}

.wish-list{
  @media only screen and (max-width: $md) {
    //overflow: hidden;
  }

  h2.border-title{
    @media only screen and (max-width: $md) {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
.term-section{
  padding-top: 70px;
  padding-bottom: 95px;
  h1{
    text-align: center;
  }
  @media only screen and (max-width: $md) {
    padding: 35px 0;
  }
}


