.our-partners {
    margin-bottom: 70px;
    padding: 80px 0 112px;
}

.our-partners .container {
    background-color: #F7F7F6;
    padding-block: 40px;
    padding-inline: 60px;
    border-radius: 71px;
}

@media screen and (max-width: 575px) {
    .our-partners {
        padding-inline: 1.5rem;
    }
}

.our-partners__header {
    margin-block: 36px;
    text-align: center;
    font-weight: 400;
    font-size: clamp(2.25rem, 2.0509rem + 0.8496vw, 3.75rem);
}

.our-partners__partners {
    position: relative;
    padding: 0 30px!important;
    width: auto;
    margin: 0 -20px!important;
    display: flex;
    flex-wrap: wrap;
    /*! flex: 16%; */
    gap: 20px;
}

@media screen and (max-width: 1600px) {
    .our-partners__partners {
        margin:0 50px
    }
}

@media screen and (max-width: 768px) {
    .our-partners__partners {
        margin:0
    }
    .our-partners__partner{
        flex:40%;
    }
}

@media screen and (max-width: 575px) {
    .our-partners__partners {
        margin:0 -10px
    }
}

.our-partners__partner {
    position: relative;
    flex: 16%; 
}

.our-partners__partner:hover .our-partners__img img {
    transform: scale(1.1)
}

.our-partners__link {
    opacity: 0;
}

.our-partners__img {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 142px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 12px
}

@media screen and (max-width: 575px) {
    .our-partners__img {
        height:96px
    }
}

@media screen and (max-width: 425px) {
    .our-partners__img {
        height:78px
    }
}

.our-partners__img img {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    transition: transform .3s ease-out
}

.our-partners__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    display: none;
}

@media screen and (max-width: 575px) {
    .our-partners__title {
        font-size:14px
    }
}
@media screen and (max-width: 768px) {
    .our-partners__partners {
        padding: 0!important;
        margin: 0!important;
    }
}

.load-more-here,
.load-more {
    padding: 10px 30px;
    margin-inline: 10px;
    border-radius: 38px;
    border: 2px solid #DBDEEF;
    width: fit-content;
    font-size: clamp(1rem, 0.9668rem + 0.1416vw, 1.25rem);
    background: var(--white);
    margin: 0 auto;
    display: block;
}



.load-more-here.show {
    display: inline-block; /* Show the button when required */
}
