@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-BoldItalic.woff2') format('woff2'),
  url('./fonts/Rubik-BoldItalic.woff') format('woff'),
  url('./fonts/Rubik-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-ExtraBold.woff2') format('woff2'),
  url('./fonts/Rubik-ExtraBold.woff') format('woff'),
  url('./fonts/Rubik-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Bold.woff2') format('woff2'),
  url('./fonts/Rubik-Bold.woff') format('woff'),
  url('./fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-ExtraBoldItalic.woff2') format('woff2'),
  url('./fonts/Rubik-ExtraBoldItalic.woff') format('woff'),
  url('./fonts/Rubik-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Light.woff2') format('woff2'),
  url('./fonts/Rubik-Light.woff') format('woff'),
  url('./fonts/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Italic.woff2') format('woff2'),
  url('./fonts/Rubik-Italic.woff') format('woff'),
  url('./fonts/Rubik-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-LightItalic.woff2') format('woff2'),
  url('./fonts/Rubik-LightItalic.woff') format('woff'),
  url('./fonts/Rubik-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Medium.woff2') format('woff2'),
  url('./fonts/Rubik-Medium.woff') format('woff'),
  url('./fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-Regular.woff2') format('woff2'),
  url('./fonts/Rubik-Regular.woff') format('woff'),
  url('./fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-MediumItalic.woff2') format('woff2'),
  url('./fonts/Rubik-MediumItalic.woff') format('woff'),
  url('./fonts/Rubik-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-SemiBold.woff2') format('woff2'),
  url('./fonts/Rubik-SemiBold.woff') format('woff'),
  url('./fonts/Rubik-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-SemiBoldItalic.woff2') format('woff2'),
  url('./fonts/Rubik-SemiBoldItalic.woff') format('woff'),
  url('./fonts/Rubik-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

