@import '../../../src/scss/globals/variables';

.questions {
  padding-top: calc(20px + 2.7vw);
  padding-bottom: calc(20px + 2.7vw);

  .container {
    width: 1119px;
    max-width: 100%;
  }

  &__item {
    border-radius: 12px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: calc(10px + 1.6vw);

    &:last-child {
      margin-bottom: 0;
    }

    &.open {
      .questions__content {
        max-height: 300px;
      }

      .questions__title::after {
        transform: rotate(-180deg);
      }
    }
  }

  &__title {
    position: relative;
    padding: 20px 47px 20px 17px;
    cursor: pointer;

    h3 {
      font-size: calc(15px + 0.4vw);
      margin-bottom: 0;
    }

    &::after {
      content: '';
      position: absolute;
      right: 21px;
      top: calc(50% - 7px);
      width: 23px;
      height: 16px;
      background-image: url("../../../assets/img/arrow-bottom.svg");
      background-size: contain;
      transition: all 0.3s linear;

      @media screen and (max-width: $md) {
        top: calc(50% - 5px);
        width: 17px;
        height: 11px;
      }
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s linear;

    p {
      margin-bottom: 0;
    }

    & > div {
      position: relative;
      padding: 15px 13px;

      &:after {
        content: '';
        position: absolute;
        left: 10px;
        top: 0;
        width: calc(100% - 20px);
        height: 0px;
        border-top: 1px solid rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.rtl {
  .questions__title {
    padding: 20px 17px 20px 47px;
    
    &::after {
      right: inherit;
      left: 21px;
    }
  }
}