.questions {
    padding-top: calc(20px + 2.7vw);
    padding-bottom: calc(20px + 2.7vw);
}
.questions__item {
    border-radius: 25px;
    margin-bottom: calc(10px + 1.6vw);
    background-color: #F5F7FD;
}

.questions__item:last-child {
    margin-bottom: 0;
}

.questions__item.open .questions__content {
    max-height: 300px;
}

.questions__item.open .questions__title::after {
    content: "-";
}

.questions__title {
    position: relative;
    padding: 20px 47px 20px 17px;
    cursor: pointer;
}
.questions h2{
    text-align:center;
    font-size: clamp(1.875rem, 1.5532rem + 1.373vw, 3.75rem);
}
.questions__title h3 {
    font-size: calc(16px + .4vw);
    margin-bottom: 0
}

.questions__title::after {
    content: "+";
    position: absolute;
    right: 21px;
    top: calc(50% - 7px);
    width: 23px;
    height: 16px;
    
    background-size: contain;
    transition: all .3s linear
}

@media screen and (max-width:768px) {
    .questions__title::after {
        top: calc(50% - 5px);
        width: 17px;
        height: 11px
    }
}

.questions__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s linear;
}

.questions__content p {
    margin-bottom: 0;
}

.questions__content>div {
    position: relative;
    padding: 15px 13px;
}
.rtl .questions__title {
    padding: 20px 17px 20px 47px;
}

.rtl .questions__title::after {
    right: inherit;
    left: 21px;
}